<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
</head>
<div th:fragment="left" > 
     
			<div class="nav-close">
				<i class="fa fa-times-circle"></i>
		    </div>
 			<div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="profile-element" style="font-size:21px;color:#fff;line-height:64px;text-align:left;letter-spacing:3px;padding-left:22px;">
                        	<img width=30 height=30 src="/images/1_wow_features_logo.png" alt="logo">
                        	<span style="position:relative;top:2px;">wow</span>
                        </div>
                        <div class="logo-element"><img width=30 height=30 src="/images/logo.png" alt="logo"></div>
                    </li>

                    <li sec:authorize="hasAuthority('company')">
                        <a href="#"><i class="fa fa-home"></i> <span class="nav-label">公会管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li sec:authorize="hasAuthority('company_query')">
                                <a th:href="@{/company/list}"  data-menu="2_1">公会查询</a>
                            </li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAuthority('invoice')">
                        <a href="#"><i class="fa fa-home"></i> <span class="nav-label">开票管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li sec:authorize="hasAuthority('invoice_list')">
                                <a th:href="@{/companyInvoice/list}"  data-menu="3_1">开票列表</a>
                            </li>
                        </ul>
                    </li>

					<li>
                        <a href="#"><i class="fa fa-home"></i> <span class="nav-label">账单管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li >
                                <a th:href="@{/bill/list}"  data-menu="4_1">账单列表</a>
                            </li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAuthority('system')">
                        <a href="#"><i class="fa fa-pie-chart"></i> <span class="nav-label">系统管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li sec:authorize="hasAuthority('user')">
                                <a th:href="@{/user/list}"  data-menu="1_1">用户管理</a>
                            </li>
                            <li sec:authorize="hasAuthority('role')">
                                <a th:href="@{/role/list}" data-menu="1_2">角色管理</a>
                            </li>
                            <li sec:authorize="hasAuthority('password')">
                                <a th:href="@{/user/changePwd}" data-menu="1_3">修改密码</a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
</div>
<div th:fragment="right_head"> 
     
	
	     <div class="navbar-header">
	         <a class="navbar-minimalize minimalize-styl-2nav" href="#">
	         	<i class="fa fa-bars"></i> 
	         </a>
	     </div>
	      <ul class="nav navbar-top-links navbar-right">
	          <li class="dropdown">
	          	<div class="usermsg">
					<img alt="image" class="img-circle" th:src="@{/img/profile_small.jpg}" />
					<a data-toggle="dropdown" class="dropdown-toggle" href="#" >
						<span class="block m-t-xs" th:text="${#authentication.name}"><b class="caret"></b></span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li>
							<form th:action="@{/logout}" method="post">
								<button type="submit" style="width: 120px;border:none;background:none;height: 39px;">退出</button>
							</form>
						</li>
					</ul>
	          	</div>
	          </li>
	      </ul>
		
</div>
</html>