<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjt.mapper.BillMapper">
  <resultMap id="BaseResultMap" type="Bill">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="bill_code" property="billCode" jdbcType="VARCHAR" />
    <result column="bill_date" property="billDate" jdbcType="DATE" />
    <result column="bill_amount" property="billAmount" jdbcType="BIGINT" />
    <result column="bill_currency" property="billCurrency" jdbcType="VARCHAR" />
    <result column="bill_memo" property="billMemo" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_code, bill_code, bill_date, bill_amount, bill_currency, bill_memo, state, create_time
  </sql>
  
  <sql id="Where_Clause">
		<where>
			<if test="map.companyCode != null and map.companyCode != ''">
				and a.company_code = #{map.companyCode,jdbcType=VARCHAR}
			</if>
			<if test="map.billCode != null and map.billCode != ''">
				and a.bill_code = #{map.billCode,jdbcType=VARCHAR}
			</if>
			<if test="map.startBillDate != null and map.startBillDate != ''">
				and <![CDATA[ a.bill_date >= #{map.startBillDate,jdbcType=DATE} ]]>
			</if>
			<if test="map.endBillDate != null and map.endBillDate != ''">
				and <![CDATA[ a.bill_date  <= #{map.endBillDate,jdbcType=DATE} ]]>
			</if>
		</where>
	</sql>
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map">
  	select a.*, c.company_Name companyName from tb_bill a
  	LEFT JOIN tb_company c ON c.company_code = a.company_code
  	<if test="_parameter != null">
		<include refid="Where_Clause" />
	</if>
	order by a.create_time DESC
  </select>
  
  <select id="selectByBillCode" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from tb_bill
  	where bill_code = #{billCode}
  </select>
  
</mapper>