<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjt.mapper.CompanyFileMapper" >
  <resultMap id="BaseResultMap" type="CompanyFile" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
   
  <sql id="Base_Column_List" >
    id, company_code, user_id, file_name, file_path, upload_time, memo
  </sql>
  
</mapper>