
/*详情公用*/
body{min-width:1200px;overflow:inherit;}

/*详情头部*/
        #page-wrapper .pageheader{position:relative;padding-top:0;}
        .pageheader .pag_con{margin-bottom:auto;color:#666;padding-top:16px;}
        .pag_con .tit{float:left;}
        .pag_con .tit:after{content:":";margin:0 8px 0 2px;position:relative;top:-0.5px;}
        .pag_con .dtl{color:#333;}
        .pag_c_l .cl_wl{width:50%;float:left;margin-bottom:10px;padding:0 15px;}
        .pag_con .pag_c_r{position:absolute;width:100%;;}
        .pag_con .pag_c_r,.pag_con .pag_c_r .r_but{text-align:right;margin-right:45px;margin-bottom:15px;height:34px;position:relative;}
        .pag_con .pag_c_r .r_row{float:right;color:#999;text-align:right;padding-right:48px;position:relative;}
		.pag_con .pag_c_r .rtwo .r_th{margin-bottom:5px;display:inline-block;}
        .pag_con .pag_c_r .r_row .cr{display: block;}
         .pag_con .pag_c_r .r_row .cl{width:150px;display: block;}
        .pag_con .pag_c_r .r_row .y_badge .glyphicon{font-size:12px;color:#f57b22;top:-1px;left:-2px;}
        .pag_con .pag_c_r .r_row .y_badge{display:inline-block;position:relative;top:2px;right:0x;}
        .pag_con .pag_c_r .r_row dl{margin:auto}
        .pag_con .pag_c_r .r_row dd{font-size:20px;font-weight:400;font-family:after;margin-top:3px;color:#222;line-height:32px;}
        .pag_con .pag_c_r .r_row dd .span_h{position:relative;color:#999;font-size:12px;margin-left:5px;line-height:18px;border-left:1px solid #cdcdcd;width:32px;display:inline-block;}
        .pa_nav{position:relative;bottom:0;}
        .pa_nav li{list-style:none;float:left;}
        .pa_nav .nav>li>a{padding:12px 20px 12px 25px;}
        .pa_nav .nav>li.active>a{color:#1890ff;border-bottom:2px solid #1890ff;}
        .pa_nav .nav>li:hover>a{color:#1890ff;}
        .pa_nav li>a{color: #666;}

.form-horizontal.search .control-wrapper.timebox > input{background:none;padding-left:15px;}
.form-horizontal.search .control-wrapper.timebox > span{border-left:1px solid #e5e6e7;border-right:1px solid #e5e6e7;}

.breadcrumb{position:absolute;z-index:1001;display:inline-block;top:-42px;left:80px;}